.more-loading {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: .3rem;
	margin-bottom: .1rem;
	color: #999;
	font-size: .14rem;

	&.loading::before {
		content: "";
		display: block;
		width: .15rem;
		height: .15rem;
		margin-right: .05rem;
		background-image: url(../../assets/img/s_loading.gif);
		background-repeat: no-repeat;
		background-size: .15rem .15rem;
		background-position: 0 0;
	}
}